[submodule "ATGM336H_NMEA_ROS2"]
	path = ATGM336H_NMEA_ROS2
	url = https://github.com/NDHANA94/ATGM336H_NMEA_ROS2.git
[submodule "basler_ros2_driver"]
	path = basler_ros2_driver
	url = https://github.com/MobileRoboticsSkoltech/basler_ros2_driver.git
